@import 'variables'


.App-flex-row
    flex-direction: row
    justify-content: center

.App-flex-column
    flex-direction: column
    align-items: center

.Banner-flex-row
    flex-direction: row
    height: initial
    min-width: 500px
    justify-content: center
    align-items: center

.Banner-flex-column
    flex-direction: column
    justify-content: space-between
    align-items: center
    height: 100%

.Banner-small
    width: 100px

.Banner-large
    width: 250px

.Banner-menu-flex-column
    flex-direction: column
    justify-content: center
    align-items: flex-start
     
.Banner-menu-flex-row
    flex-direction: row


.Hidden
    display: none