@import 'variables'
@import 'mixins'

.Home-page-flex-row
    @include flex-row-center-start

.Home-page-flex-column
    @include flex-column-start-center

.Banner-flex-row
    @include flex-row-center-center
    width: 100%

.Banner-flex-column
    @include flex-column-space-between-center
    height: 100%

.Banner-menu-flex-column
    @include flex-column-center-start
     
.Banner-menu-flex-row
    flex-direction: row

.Hidden
    display: none