@import 'variables'
@import 'mixins'

.First-page
    @include flex-column-center-center
    height: 100%
    width: 100%
    background-color: $primary-bg-color
    color: $primary-font-color

    &-wrapper
        @include flex-row-center-center
        flex-direction: row-reverse
        flex-wrap: wrap
        width: 100%
        
        &-left-column
            display: flex
            background-image: url('https://abs.twimg.com/sticky/illustrations/lohp_1302x955.png')
            background-position: center
            background-repeat: no-repeat
            flex: 1
            min-width: 200px
            height: 92vh

            &-twitter-icon
                width: 50%
                height: 50%
                max-width: 18rem
                max-height: 18rem
                margin: auto


        &-right-column
            @include flex-column-center-center
            padding-left: 2rem
            flex: 1
            min-width: 740px
            height: 92vh

            &-happening-now
                margin: 2rem 0
            
            &-subscribe-container
                @include flex-column-center-start
                width: 100%
                margin: 2rem 0

                .Btn-subscribe-with-google
                    @include flex-row-center-center
                    width: 300px
                    background-color: rgba(29, 155, 240, 0)
                    border: 1px solid rgba(0,0,0,0.24)
                    border-radius: 1rem
                    padding: 0.5rem 1rem
                    transition: 0.2s

                    span
                        margin-left: 0.5rem
                        font-size: $font-size-small
                        font-weight: 400

                .Btn-subscribe-with-google:hover
                    background-color: rgba(29, 155, 240, 0.05)

                .Btn-subscribe-with-apple
                    @include flex-row-center-center
                    width: 300px
                    background-color: rgba(0,0,0,0)
                    border: 1px solid rgba(0,0,0,0.24)
                    border-radius: 1rem
                    padding: 0.5rem 1rem
                    transition: 0.2s
                    cursor: pointer
                        
                    span
                        margin-left: 0.5rem
                        font-size: $font-size-small
                        font-weight: 500

                .Btn-subscribe-with-apple:hover
                    background-color: rgba(0,0,0,0.15)

                .Span-lines-around  
                    width: 300px
                    margin-top: 0.5rem

                    span
                        display: inline-block
                
                    &-line
                        width: 45%
                        height: 0
                        border-bottom: 1px solid rgba(0,0,0,0.08)
                        margin: 3px
                    

                .Btn-subscribe-with-number
                    width: 300px
                    overflow: hidden
                    white-space: nowrap
                    text-overflow: ellipsis
                    border: 1px solid $primary-btn-color
                    border-radius: 1rem
                    font-size: $font-size-small
                    font-weight: 500
                    padding: 0.5rem 1rem
                    transition: 0.2s
                
                .Btn-subscribe-with-number:hover
                    background-color: rgb(26,140,216)

                p
                    font-size: $font-size-pp
                    width:300px

                    a
                        color: $tertiary-font-color
                        text-decoration: none
                    
                    a:visited
                        color: $tertiary-font-color
                    
                    a:hover 
                        text-decoration: underline
            
            &-login-container
                @include flex-column-center-start
                margin-top: 1.5rem
                width: 100%

                .Btn-first-page-login
                    width: 300px
                    border: 1px solid rgba(0,0,0,0.24)
                    border-radius: 1rem
                    padding: 0.5rem 1rem
                    font-size: $font-size-small
                    transition: 200ms
                
                .Btn-first-page-login:hover
                    background-color: rgba(29, 155, 240, 0.2)
            

    &-footer
        @include flex-row-center-center
        align-items: stretch
        flex-wrap: wrap
        width: 100%
        height: 8vh
        padding: 1rem 0

        &-link
            font-size: $font-size-smaller
            margin: 0 0.5rem
            color: $quaternary-font-color
            text-decoration: none
        
        &-link:visited
            text-decoration: none
            color: $primary-font-color
            color: $quaternary-font-color
        
        &-link:hover
            text-decoration: underline
            



@media screen and (max-width: 957px) 
    .First-page-wrapper-right-column-subscribe-container
        width: auto
    .First-page-wrapper-right-column-login-container
        width: auto
