@import 'variables'
@import 'mixins'


.Home-page
    display: flex
    width: 100vw
    height: 100vh
    background-color: $primary-bg-color
    color: $primary-font-color

    .Banner
        display: flex

        &-menu
            display: flex

            .Banner-menu-icon
                margin: 1rem

            .Icon-container
                @include flex-row-space-between-start
                cursor: pointer
                padding-right: 2rem

                .Banner-menu-icon
                    margin: 1rem

                &-label
                    margin: 1rem
                    font-size: $font-size-medium

    &-main-content
        @include flex-row-center-start
        position: relative
        max-width: 950px

        .Primary-column
            @include flex-column-start-center
            border-left: 1px solid rgba(0,0,0,0.08)
            border-right: 1px solid rgba(0,0,0,0.08)
            flex:1
            min-width: 600px

            &-sticky-header
                display: inline-block
                position: sticky
                top: 0
                padding: 1rem 1rem
                background-color: rgba(255, 255, 255, 0.7)
                backdrop-filter: blur(2px)         
                width: 100%
                
                &-star
                    float: right
                    cursor: pointer
                
                span
                    font-weight: 700
                    font-size: $font-size-medium
                
                &-icon
                    margin-right: 1rem
                    border-radius: 50%


            .Make-tweet
                @include flex-row-start-start
                width: 100%
                padding: 0 1.6rem
                border-bottom: 1px solid rgba(0,0,0,0.08)

                &-icon
                    margin-right: 1rem
                    border-radius: 50%

                &-container
                    @include flex-column-center-start
                    flex: 1

                    &-field
                        @include flex-column-space-between-start
                        width: 100%
                        border-bottom: 1px solid rgba(0,0,0,0.08)

                        .Who-can-view
                            border: 1px solid rgba(0,0,0,0.24)
                            border-radius: 0.8rem
                            padding: 0.2rem
                            cursor: pointer

                        .Tweet-content
                            width: 100%
                            height: 3rem
                            font-size: $font-size-medium
                            border: none
                            outline: none

                        .Who-can-comment
                            cursor: pointer
                            margin-bottom: 1rem

                    &-toolbar
                        @include flex-row-space-between-center 
                        width: 100%
                        margin-bottom: 1rem

                        &-icons
                            margin-top: 1rem
                            
                            .Icon-small
                                margin: 0 0.5rem
                                cursor: pointer

            .Show-more-tweets
                min-height: 0.5rem
                background-color: white
                width: 100%

            .Tweet
                @include flex-column-start-start
                width: 100%
                max-height: 566px
                padding: 1rem
                border-bottom: 1px solid rgba(0,0,0,0.08)

                &-retweet-or-maybe-you-like
                    @include flex-row-start-center

                .Tweet-wrapper
                    @include flex-row-center-start

                    .Tweet-container
                        @include flex-column-start-start

                        &-first-section
                            @include flex-row-start-center
                        
                        .Tweet-text
                            word-wrap: normal
                        
                        .Tweet-media
                            max-width: 520px
                            max-height: 520px
                            border-radius: 0.5rem

                        &-last-section
                            @include flex-row-space-between-center
                            width: 100%

                            span:last-child
                                margin-right: 3rem
                        

        .Sidebar-column
            @include flex-column-start-center
            padding-left: 2rem
            width: calc(340px + 2rem)

            &-sticky-header
                position: sticky
                top: 0
                padding: 0.5rem 0rem
                background-color: rgba(255, 255, 255, 0.7)
                backdrop-filter: blur(2px)

                .Search-bar
                    @include flex-row-center-center
                    background-color: $secondary-bg-color
                    border-radius: 1.5rem
                    width: 340px
                    padding-left: 1rem

                    &-icon
                        margin: 0 1rem

                    &-input
                        height: 2.5rem
                        width: 20rem
                        border: none
                        outline: none
                        border-radius: 1.5rem
                        background-color: transparent
                        font-size: $font-size-small

            &-whats-happening
                img 
                    width: 340px
                    height: auto

            &-who-follow
                width: 340px
                heigth: 400px
